[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pipwin = "*"
groq = "*"
gtts = "*"
elevenlabs = "*"
dotenv = "*"
pydub = "*"
gradio = "*"
speechrecognition = "*"

[dev-packages]

[requires]
python_version = "3.13"
